* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  outline: none;
  font-size: 10px;
}

.submit-container {
  padding: 1rem;
  margin-top: 2rem !important;
}

.container {
  width: 50%;
  margin: 0 auto;
}